@tailwind base;
@tailwind components;
@tailwind utilities;

/* IMPORT */
@import "./_components/ui/Button/style.css";

/* RESET */
button[type="submit"] {
  @apply bg-[#633CFF];
}

/* APPLY */
.heading {
  @apply text-2xl md:text-4xl text-darkgrey font-bold;
}

.transition {
  @apply transition-all duration-200 ease-in-out;
}

body {
  @apply text-grey bg-primary;
}

.react-select__control {
  min-height: 48px !important;
  /* border-radius: 8px !important; */
}

.react-select__value-container {
  padding: 0 16px !important;
}

.react-select__input-container {
  color: black !important;
}
